html {
  --color-dark-gray: #1d1d1d;
  --color-accent: #008578;
  --color-accent-semi-transparent: #006056;

  --menu-mask-to-right: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.95) 30%,
    rgba(0, 0, 0, 0.4) 70%,
    rgba(0, 0, 0, 0.3) 80%,
    transparent 100%
  );
  --menu-mask-to-left: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.95) 30%,
    rgba(0, 0, 0, 0.4) 70%,
    rgba(0, 0, 0, 0.3) 80%,
    transparent 100%
  );

  ::-moz-selection {
    /* Code for Firefox */
    color: rgb(0, 0, 0);
    background: #008578;
  }

  ::selection {
    color: rgb(0, 0, 0);
    background: #008578;
  }
}

body {
  background-color: var(--color-dark-gray);
  overscroll-behavior: none;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Merriweather';
  src: url('./assets/fonts/Merriweather_24pt-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
